.main {
  display: flex;
  flex-direction: column;

  width: 70%;
  height: 100dvh;
  max-width: 960px;
  min-width: 350px;
  /* margin-bottom: 16px; */

  border-radius: 20px;
}

/* Container style */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  /* height: 100%; */
}

/* Fairytale box style */
.fairytaleBox {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 40px;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Title style */
.title {
  font-size: 2em;
  color: #4a4a4a;
  font-family: 'Caveat', cursive;
  margin: 0;
}

/* Subtitle style */
.subtitle {
  font-size: 1em;
  color: #6a6a6a;
  font-family: 'Lora', serif;
  margin-top: 10px;
}

/* Add a bit of animation */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.fairytale-box {
  animation: fadeIn 1s ease-out;
}

.pickSectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}